body {
    /* background-color: rgb(105, 122, 74); */
    background-image: url("https://images.pexels.com/photos/267569/pexels-photo-267569.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-size: cover;
}
h3 {
    text-decoration: underline;
}
    .navTitle {
    font-weight: 900;
    font-size: xx-large;
    }

    .blogBox {
    margin-top: 8px;
    border-style: solid;
    border-radius: 10px;
    background-color: #6c757dcf;
    }

    .blogTitle {
    text-decoration: none;
    color: rgb(213, 202, 42);
    }

    .blogDescript {
    border-style: solid;
    border-radius: 4px;
    margin-bottom: 5px;
    padding: 2px;
    background-color: #6495ed6e;
    }

    .blogText {
    font-weight: 700;
    }
    
    .blogDescTwo {
        font-size: 25px;
        font-style: italic;
    }
    
    .blogCreate {
        font-weight: bold;
        font-style: italic;
        font-size: 12px;
        padding: 5px;
        color: rgb(188, 182, 103);
    }
    
    .blogBoxCont {
        margin-top: 10px;
        border-style: solid;
        background-color: #0d6efd;
    }
    
    .formCont {
        margin-top: 10px;
        max-width: 75%;
        margin-left: auto;
        margin-right: auto;
    }
    
    
    .commentCont {
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        max-width: 75%;
        background-color: rgb(113, 143, 62);
    }
    
    .commentOwner {
        font-size: 14px;
    }
    
    .btnComment {
        margin-top: 10px;
    }
    
    .commentText {
        font-weight: bold;
        padding-top: 10px;
        background-color: rgb(208, 213, 200);
    }
    
    .commentCont {
        border-style: dashed;
    }
    
    .headerRow {
        /* background-color: black; */
        margin-bottom: 10px;
    }
    
    a:link {
        color: rgb(23, 58, 200);
    }
    a:visited {
        color: rgb(244, 244, 243);
    }
    
    a:hover {
        color: deeppink;
    }
    
    .login{
        margin-left: 25px;
    }
    
    .signup{
        margin-left: 25px;
    }
    
    .form-group{
        margin-top: 10px;
    }